<h1><%= @recipe.title %></h1>
<%= @recipe.content %>

<form method="post" action="/recipes/<%= @recipe.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" />
</form>
